
#tutorial_app
  color:#bbb

  .screen
    width 80%; min-width:600px
    margin:20% auto
    
    pre
      background:#222

  .step-1 
    p 
      letter-spacing 1px
      
    input
      outline:none !important
      background #222
      color #fff
      border none
      border-bottom 2px solid #ccc
      font-size 10px
      text-align center
      letter-spacing 1px
      width 90%
      margin:2% auto
      padding 10px