.lottery-game-container {
	height: 50%;
    background: black;
	opacity: 0.3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.lottery-game-container h3 {
	color: white;
	text-align: center;
}